/* GENERAL STYLING */
body{
    margin: 0;
    font-family: Verdana, sans-serif;
}

h3{
    font-weight: 300;
    font-size: 12px;
    margin: 0;
}
ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.--bluefontcolor{
    color: #335576;
}

.--subcolor{
    color: #DB7A4E;
}

.--extraMarginSat{
    margin-right: 55px;
}

.--extraMarginSun{
    margin-right: 2px;
}

/* NAVIGATION */

.navigation{
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
}
.navigation-container {
    display: flex;
    margin-right: 1rem;
    min-width: 20rem;
    justify-content: space-between;
}


.navigation__links{    
    color:black;
}

.navigation__links:hover{
    border-bottom: 3px solid #DB7A4E;
    padding-bottom: 4px;
}

.navigation__links--underline{
    border-bottom: 3px solid #DB7A4E;
    padding-bottom: 4px;
    
}
.navigation__logo {
    display: flex;
    align-self: center;
    margin-left: 3rem;
    color: #335576;
    font-weight: 700;
}

/* HERO */

.hero-container{
    padding-top: 50px;
    padding-bottom: 50px;
    display:flex;
    /* background-color: #FEFAF5; */
    background-color: #FEFAF5;
    justify-content: space-between;
    
}

.hero__description{
    margin-top: 50px;
    width: 425px;
    padding-left: 3rem;
}

.hero__image-container{
    width: 600px;
    display:flex;
    justify-content: center;
}
.hero__image{
    height: 400px;
}

button {
    background-color:#DB7A4E;
    color: white;
    border-radius: 15px;
    border-style:none;
    width: 160px;
    height: 35px;
}

/* RECOMMONDATIONS */

.recommendations__title{
    padding-left: 3rem;
    margin-top: 3.1rem;
}

.destinations{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.destinations__title{
    padding-right: 20px;
}

.destinations__card{
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    border: 1px solid rgb(0,0,0, 20%);
    box-shadow: 0px 4px 4px rgb(0,0,0, 20%);
    height: 26.8rem;
    width: 18.75rem;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    color: white;
}

.destinations__card:hover{
    border: 5px solid pink;

    /* attempted dive deeper with opacity overlay*/
    background-image: url(https://i.pinimg.com/originals/7a/7e/92/7a7e92fbc61dff32902a59f7831fa725.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.1;
   
}   

.--greeceImage{
    background-image: url(../assets/images/greece.jpg);
}

.--hawaiiImage{
    background-image: url(../assets/images/hawaii.jpg);
}

.--icelandImage{
    background-image: url(../assets/images/iceland.jpg);
}


/* FOOTER */

.footer-container{
    margin-top: 9.37rem;
    background-color: #FEFAF5;
    display: flex;
    justify-content: space-around;
    padding-bottom: 40px;
    
}

.footer--heading{
    margin-top: 20px;
}

.hours-container{
    width: 27rem;
    display:flex;
    flex-direction: column;
    
}

.footer__card{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}

.icons__container{
    display: flex;
    width: 15.62rem;
    height: 3.5rem;
    align-items: flex-end;

}

.hours__sec{
    display:flex;
    justify-content: space-between;
}

.footer__icons{
    height: 2.5rem;
    margin-right: 2.8rem;
}